.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 80px;
    height: calc(100% - 60px);
    background-color: var(--sidebar-bg);
    transition: width 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    box-shadow: 3px 0 10px rgba(255, 255, 255, 0.05);
  }
  
  .sidebar:hover {
    width: 250px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar li {
    width: 100%;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    color: var(--text-color);
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
  }
  
  .sidebar li:hover {
    background: var(--hover-gradient);
    color: var(--hover-text);
    transform: scale(1.05);
    border-left: 4px solid var(--gold);
    box-shadow: 0 0 10px #00DF82;
  }
  
  .sidebar li.active {
    background-color: #292929;
    border-left: 4px solid var(--gold);
    color: var(--gold);
  }
  
  .sidebar li i {
    font-size: 1.5rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
  
  .sidebar li span {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .sidebar:hover li span {
    opacity: 1;
  }
  