.topbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #024751;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 1000;
    color: var(--text-color3); /* color del titulo*/
    box-shadow: 0 2px 8px rgba(228, 7, 7, 0.05);
  }
